* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
}

header h1{
  background-color: blue;
  color: white;
  text-align: center;
  padding: 20px;
}

form  .btn {
  margin-top: 15px;
}

form #city {
  width: 100%;
}

.text-img {
  display: flex;
  align-items:center;
}

.top {
  border: 1px solid black;
  font-weight: bold;
  margin-bottom: 10px;
  display:none;
}

#div-1, #div-2, #div-3, #div-4, #div-5 {
  background-color: #5d6578;
  color: white; 
  font-weight: bold;
  text-align: left;

}

#five-day {
  display: none; 
}